.table-container, .upper-container{
    margin: 2rem;
}

.demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button-container{
    display: grid;
    justify-content: end;
}

.demo-button{
  padding: 2rem;
  font-size: large;
}

.main-div{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}

.form-field{
  min-width: 400px;
  max-width: 600px;
  width: 100%;
}

.search-field{
  width: 100%;
}

.action-button{
  display: flex;
  gap: 5px;
}
